html::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url('images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Navbar */
.navbar-brand, .navbar-nav .nav-link {
    font-weight: bold;
    margin-right: 15px;
    cursor: pointer;
}

.nav-item {
    display: flex;
}

.nav-item ion-icon {
    top: 20px;
    margin-right: 3px;
    height: 20px;
    width: 20px;
}

.menu-list a {
  text-decoration: none;
  font-weight: bolder;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.4s ease;
}

.menu-list a:hover{
  color: #007bff;
}

.menu-list a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  background: #007bff;
  transition: width 0.4s ease;
}

.menu-list a:hover::after {
  width: 100%;
}

.text-jadwal {
    font-size: 2rem;
    font-weight: bold;
}


/* Tombol edit, hapus, dan simpan */
.btn-hapus {
    background-color: #dc3545;
    color: white;
}

.btn-simpan {
    background-color: #007bff;
    color: white;
}

.cardShow {
    min-height: 280px;
}

.cardEdit {
    min-height: 280px;
}

.btn-tambah {
    margin-top: 15px;
    background-color: #28a745;
    color: white;
}

/* Hover effects */
.btn:hover {
    opacity: 0.85;
}

/* Dynamic card colors */
.card-color-1 { background-color: #ffdddd; }
.card-color-2 { background-color: #ddffdd; }
.card-color-3 { background-color: #ddddff; }
.card-color-4 { background-color: #ffddff; }
.card-color-5 { background-color: #ffffdd; }

/* Warna teks yang kontras di dalam card */
.card-header, .card-body .list-group-item {
    color: #333; /* Warna teks yang cukup gelap agar kontras dengan card */
}

.cardEdit .list-group-item {
    cursor: pointer;
}

/* CSS untuk menyembunyikan halaman */
.page {
    display: none;
}

.page.active {
    display: block;
}